# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Hatchling / build artifacts
*.whl
*.tar.gz

.pypirc
/.mypy_cache

src/xviv/_version.py

FEATURES
DESIGN.md
ISSUES.md